.story {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    
}
@media (min-width: 640px) {
    .sm\:left-custom {
        left: 5.6rem!important;
    }
}